$font-stack:    'Montserrat Light','Myriad Pro',Helvetica,Arial,sans-serif;
$primary-color: #333;
$color-blue: #2F2379;
$color-purple: #8433FF;
$border-div: 20px;

body {
    font-family: $font-stack;
}

h1,h2,h3,h4,h5,h6{
    font-family: $font-stack;
}

#logoGradiWeb{
    position: absolute;
    z-index: 100;
    top: 8px;
    right: 220px;
    width: 80px;
}

.card {
    border: 0px solid transparent;
}

#imgContainer{
    height: 300px;
    background-image: url('https://images.squarespace-cdn.com/content/v1/5b12d4a7e749403ddabe68ca/1530042259329-DLVTECN6UO6LOEL2WWUX/ke17ZwdGBToddI8pDm48kLkXF2pIyv_F2eUT9F60jBl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iyqMbMesKd95J-X4EagrgU9L3Sa3U8cogeb0tjXbfawd0urKshkc5MgdBeJmALQKw/12310522876_46859106c6_o.jpg');
    
    background-repeat: no-repeat, repeat;
    background-size: cover;
}

.containerSecondary{
    height: 240px;
}

.boxBorder{
    border-radius: $border-div;
    margin: 5px;
}

#weatherDay {
    position: absolute;
    float: left;
    top: 150px;
    background-color: $color-purple;
    z-index: 100;
    margin-left: -10px;
    border: 0px solid #1C6EA4;
    border-radius: 0px 20px 20px 20px;
    -webkit-box-shadow: 6px 18px 15px 6px rgba(0,0,0,0.24); 
    box-shadow: 6px 18px 15px 6px rgba(0,0,0,0.24);
}

#liste_left_link {
    list-style-type: none;
    padding: 0;
    height: 100%;
    margin: 0;
    float: left;
    width: 65px; 
}

.li_left_link:first-child {
    border-radius: 0px 20px 20px 20px;
    background-color: $color-blue;
}

.li_left_link:nth-child(2) {
    height: 55px;
    border-radius: 20px 20px 20px 0px;
    background-color: $color-purple;
}

.li_left_link {
    height: 75px;
}

.content_left_link {
    text-align: center;
    line-height: 18px;
    font-size: 13px;
}

.content_left_link {
    float: left;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 100;
}

.content_left_link a {
    color: #ffffff ;
    font-family: $font-stack;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    padding: 10px;
    cursor: pointer;
}

#linkTemp {
    font-size: 20px;
}

textarea, a, button, input {
    outline: none!important;
}

a, button, img, input[type=submit] {
    text-decoration: none!important;
    -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    transition: all .4s ease-in;
}

#localizationIcon{
    width: 20px;
    position: absolute;
    left: 70px;
    top: 83px;
    z-index: 200;
}

.nameCity {
    position: absolute;
    left: 80px;
    top: 80px;
    z-index: 200;
    font-family: $font-stack;
    font-size: 20px;
    color: $color-purple;
}

.cardTempStyle{
    background-color: #C2DCE5;
    border: 0px solid #8433FF; 
    border-radius: 10px; 
    position: absolute;
    right: 8px; 
    height: 52px;
}

.cardStyle:first-child .cardTempStyle{
    color: white;
    background-color: $color-purple;
}

.cardStyle{
    border: 0px solid black;
    border-radius: 10px;
    margin: 3px;
    margin-top: 19px;
    box-shadow: 1px 3px 20px 0 rgba(2, 0, 0, 0.300)!important;
    -webkit-box-shadow: 1px 3px 20px 0 rgba(2, 0, 0, 0.300)!important;
    -moz-box-shadow: 1px 3px 20px 0 rgba(2, 0, 0, 0.300)!important;
}

.tagImage {
    color: white;
    font-size: 12px;
}

#imgVisitPlace{
    height: 220px;
    margin-top: 30px; 
    border-radius: 30px;
    background-image: url('https://trucoslondres.com/wp-content/uploads/2017/05/E.jpg');
    background-repeat: no-repeat, repeat;
    background-size: cover;
}

#imgVisitPlaceReviewsSmall{
    margin-top: 10px; 
    border-radius: 30px;
    background-image: url('https://www.tec.ac.cr/hoyeneltec/sites/default/files/styles/colorbox/public/media/img/main/smart_building_.jpeg');
    background-repeat: no-repeat, repeat;
    background-position: 50% 0%;
}

#imgVisitPlaceReviewsLarge{
    margin-top: 10px; 
    border-radius: 30px;
    background-image: url('https://www.tec.ac.cr/hoyeneltec/sites/default/files/styles/colorbox/public/media/img/main/smart_building_.jpeg');
    background-repeat: no-repeat, repeat;
    background-position: left right / right top;
    background-size: cover;
}

#imgPruebaCover{
    background-size: cover;
}

.imgReviews{
    background-image: url('https://junglamoderna.com/wp-content/uploads/2019/02/esta-persona-no-exist-297x300.jpg');
    background-repeat: no-repeat, repeat;
    background-size: cover;
}

.imgReviews:nth-child(2){
    background-image: url('https://1.bp.blogspot.com/-YOTLTm6nV6g/XPlLCV9qvII/AAAAAAAAywU/9HiGMUP-raUfxzNlx-0yHllRmRTiZJwbQCLcBGAs/s400/1559795547.446815_-_ecf78566887779bf140bc6a122c50d3e.png');
}

.imgReviews:nth-child(3){
    background-image: url('https://1.bp.blogspot.com/-8NHYU_WDTOg/XPlLBwjiTaI/AAAAAAAAywI/IgI-ww4Lg_48ta_dSHS21l5cQcOUg8o_QCLcBGAs/s400/1559795256.8981142_-_e73f43a5c6bebd00977dcfddcf6a9693.png');
}

.imgReviews:nth-child(4){
    background-image: url('https://1.bp.blogspot.com/-qA-roTYYm2w/XPlLCKL7eTI/AAAAAAAAywQ/X0viBB6bxIIhkyLEL0fRsDiLgTcGiUVjgCLcBGAs/s400/1559795428.3093624_-_bbe58eff772beaf5d71c8a0c578f5c1e.png');
}

#cardAbsolute{
    position: absolute; 
    left: 0px; 
    top: -120px; 
    z-index: 100;
}

.textCard{
    font-size: 11px;
}

//Inicio de media queries max-width: 1200px

@media only screen and (max-width: 1200px) {
    .col-lg-4 {
        width: 100%;
    }

    .widthCard{
        width: 47%;
        float: left;
    }

    .row {
        width: 100%;
    }

    .card-group{
        display: block;
    }

    #cardTopReviews, #cardPlaceToVisit {
        display: none;
    }

    #titleForecast{
        display: none;
    }

    #cardCollaborators{
        width: 43%;
        height: 100%;
        float: right;
    }

    #cardAbsolute{
        top: -140px;
    }

    .cardTempStyle{
        height: 93px;
    }

    .textCard{
        font-size: 20px;
    }

    .jumbotron{
        display: flex;
    }
}

//Inicio de media queries max-width: 992px

@media only screen and (max-width: 992px) {
    .col-lg-4 {
        width: 100%;
    }

    .widthCard{
        width: 100%;
        float: left;
    }

    .widthCard img{
        width: 50%;
    }

    .row {
        width: 100%;
    }

    .card-group{
        display: block;
    }

    #cardTopReviews, #cardPlaceToVisit {
        display: none;
    }

    #titleForecast{
        display: none;
    }

    #cardCollaborators{
        width: 95%;
        float: right;
    }

    #cardCollaborators .row{
        height: 100px;
    }

    #addLocations{
        display: none;
    }

    #cardAbsolute{
        position: static;
    }

    .cardTempStyle{
        height: 84px;
    }

    .textCard{
        font-size: 20px;
    }

    .textHumidity{
        display: none;
    }

    .jumbotron{
        display: flex;
    }
}

//Inicio de media queries max-width: 765px

@media only screen and (max-width: 765px) {
    .col-lg-4 {
        width: 100%;
    }

    .widthCard{
        width: 100%;
        float: left;
    }

    .widthCard img{
        width: 50%;
    }

    .row {
        width: 100%;
    }

    .card-group{
        display: block;
    }

    #cardTopReviews, #cardPlaceToVisit {
        display: none;
    }

    #titleForecast{
        display: none;
    }

    #cardCollaborators{
        width: 95%;
        float: right;
    }

    #cardCollaborators .row{
        height: 100px;
    }

    #addLocations{
        display: none;
    }

    #cardAbsolute{
        position: static;
    }

    .cardTempStyle{
        display: none;
    }

    .textCard{
        font-size: 20px;
    }

    .textHumidity{
        display: none;
    }

    .jumbotron{
        display: flex;
    }
}

//Inicio de media queries max-width: 577px

@media only screen and (max-width: 577px) {
    #imgForecast{
        display: none;
    }

    #localizationIcon{
        width: 3%;
    }
}