<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<div class="container bg-priimary">

  <div class="jumbotron">
      <div class="container-fluid bg-white" *ngIf="responseWeather">
        
        <div id="weatherDay">
          <ul id="liste_left_link">
            <li class="li_left_link">
              <div class="content_left_link hvr-radial-out" *ngFor="let item of responseWeather.weather">
                <a>{{item.main}}</a>
              </div>
            </li>
            <li class="li_left_link">
              <div class="content_left_link hvr-radial-out">
                <a id="linkTemp">{{responseWeather.main.temp}}°</a>
              </div>
            </li>
          </ul>
        </div>

          <div class="row boxBorder justify-content-center align-items-center">
            <div class="col-lg-12 bg-light text-light boxBorder" id="imgContainer">
              <h5 class="nameCity">{{responseWeather.name}}</h5>
            </div>
          </div>
          
          <div class="card-group">
            <div class="card" style="margin: 5px;">
              <div class="card-body">
                <h5 class="card-title"><b>3 Days</b> Forecast</h5>

                <div class="justify-content-center align-items-center">
                  <div class="row text-center justify-content-center cardStyle" *ngFor="let item of forecast; let indice=index">
                    <div class="col-lg-7 bg-light text-left" *ngFor="let itemDos of item.weather" style="padding: 5px;">
                      <div class="row">
                        <div class="col-lg-4 bg-light justify-content-center align-items-center" *ngFor="let itemDos of item.weather" style="border-radius: 10px;">
                          <img src="https://www.arartur.com.tr/images/content/1284811945.png" width="100%" style="margin-top: 10px;">
                        </div>
                        <div class="col-lg-8 bg-light justify-content-center align-items-center" *ngFor="let itemDos of item.weather" style="border-radius: 10px;">
                          <h6 class="textCard"><b>{{nameDays[indice]}}</b></h6>
                          <h6 class="textCard">{{itemDos.main}}</h6>
                        </div>
                      </div>
                      
                    </div>
                    <div class="card col-lg-4 justify-content-center align-items-center cardTempStyle" style="border: 0px solid #8433FF; border-radius: 10px;">
                      <h6 class="textCard">{{item.main.temp_max}}°</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="card" style="margin: 5px;">
              <div class="card-body">
                <h5 class="card-title"><b>Place to</b> Visit</h5>
            </div>
            <img class="boxBorder" src="https://images.squarespace-cdn.com/content/v1/5b12d4a7e749403ddabe68ca/1530042259329-DLVTECN6UO6LOEL2WWUX/ke17ZwdGBToddI8pDm48kLkXF2pIyv_F2eUT9F60jBl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iyqMbMesKd95J-X4EagrgU9L3Sa3U8cogeb0tjXbfawd0urKshkc5MgdBeJmALQKw/12310522876_46859106c6_o.jpg" alt="Card image cap">
            </div>
        
            <div class="card" style="margin: 5px;">
              <img class="card-img-top boxBorder" src="https://images.squarespace-cdn.com/content/v1/5b12d4a7e749403ddabe68ca/1530042259329-DLVTECN6UO6LOEL2WWUX/ke17ZwdGBToddI8pDm48kLkXF2pIyv_F2eUT9F60jBl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iyqMbMesKd95J-X4EagrgU9L3Sa3U8cogeb0tjXbfawd0urKshkc5MgdBeJmALQKw/12310522876_46859106c6_o.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
              </div>
            </div>

            <div class="card" style="margin: 5px;">
              <img class="card-img-top" src="https://images.squarespace-cdn.com/content/v1/5b12d4a7e749403ddabe68ca/1530042259329-DLVTECN6UO6LOEL2WWUX/ke17ZwdGBToddI8pDm48kLkXF2pIyv_F2eUT9F60jBl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iyqMbMesKd95J-X4EagrgU9L3Sa3U8cogeb0tjXbfawd0urKshkc5MgdBeJmALQKw/12310522876_46859106c6_o.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
              </div>
            </div>
          </div>
        
      </div>

  </div>

  

  <!--<div *ngIf="responseWeather" class="card-container card-small">
    <h1>{{responseWeather.main.temp}} grados</h1>
    <h1>{{responseWeather.name}}</h1>
  </div>
  <div *ngIf="!responseWeather" class="card-container card-small">
    <div class="spinner-border text-light"></div>
  </div>

  <div *ngIf="responseWeatherParis" class="card-container card-small">
    <h1>{{responseWeatherParis.main.temp}} grados</h1>
    <h1>{{responseWeatherParis.name}}</h1>
  </div>
  <div *ngIf="!responseWeatherParis" class="card-container card-small">
    <h1>Cargando...</h1>
  </div>

  <div *ngIf="responseForecast" class="card-container card-small">
    <h1>{{responseForecast.cnt}} grados</h1>
    <h1>{{responseForecast.cod}}</h1>
  </div>
  <div *ngIf="!responseForecast" class="card-container card-small">
    <h1>Cargando...</h1>
  </div>

  <div *ngFor="let item of responseForecast.list; let i = index">
      <h1>{{item.main.temp}}</h1>
  </div>
    
  </div>-->
</div>

<router-outlet></router-outlet>